<div class="panel panel-success">
  	<div class="panel-heading">
  		<h3 class="panel-header">Request for Quotation</h3>
  	</div>
  	<div class="panel-body" style="max-height: 800px ;overflow-y: scroll;">
  		<% @quotation.each do |entry| %>
	  		<%= render "entrybox", entry: entry %>
  		<% end %>
  	</div>
</div>