<div class="section" id="shoppingSection">
  <h1>Shopping</h1>

  <div id="shopping-masonry-container" class="transitions-enabled infinite-scroll clearfix">
    <% @shopping.each do |entry| %>
      <%= render "entrybox", entry: entry %>
    <% end %>
  </div>
    <%= will_paginate @shopping, param_name: "shopping_page", params: {anchor: "shoppingPage"}, renderer: BootstrapPagination::Rails %>
</div>