<br>
<div class="row-fluid">
	<div class="col-md-4">
		<%= render "shopping" %>
	</div>
	<div class="col-md-4">
		<%= render "bidding" %>
	</div>
	<div class="col-md-4">
		<%= render "quotation" %>
	</div>
</div>